@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Concert+One&family=Press+Start+2P&display=swap');
#canvas-1{
    position: absolute;
    /* top: 13%;
    left: 19%; */
    /* top: 1%; */
    /* left: %; */
    /* transform: translate(-50% ,-50%); */
}

#marginCanva {
    position: absolute;
    /* top: 10%; */
    /* left: 10%; */
    /* transform: translate(-50% ,-50.4%); */
    /* top: 11.7%;
    left: 18.3%; */
    width: 300px;
    height: 540px;

    border: 4px solid DimGray;
    padding: 5px;
}

.container{
    position: absolute;
    /*Se quiser definir como Roboto é só descomentar*/
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'GAU_font_cube_B', sans-serif; */
    /* font-family: 'Press Start 2P', cursive; */
    /* font-family: 'Concert One', cursive; */
    /* font-family: 'Bungee', cursive; */
    font-family: 'Concert One', cursive;
    text-align: center;
    color: white;
    /* top: 10vh; */
    margin-left: 400px;
    margin-top: 100px;
    /* left: 45%;
    bottom: 72%;  */
    /* top: 25%; */
    /* left: 100%; */
    /* transform: translate(100% ,-50%); */
    font-size: 50px;
}

.grid-container {
    display: none;
    position: absolute;
    /* margin: auto; */
    /*Eu estive aqui -> top: 20vh;*/
    top: 10vh;
    /* bottom: 40px; */
    /* padding: 10%; */
    left: 20vw;
    right: 20vw;
    /* margin-left: 20vw; */
}

#title{
    position: absolute;
    /* margin: 0 0 0 0; */
    /* top: -50%; */
    bottom: 130%;
    /* margin-left: 80px; */
    /* left: 30%; */
    /* margin-bottom: auto; */
    /* transform: translate(20% ,120%); */
}

#pause_button:hover,
#pause_button:focus, 
#options_button:hover,
#options_button:focus {
    color: #4448bc;
    text-decoration: none;
    cursor: pointer;
    background-color: #eeeeee;
}

#pause_button, 
#options_button {
    position: absolute;
    background-color: #141313;
    color: #eeeeee;
    /* font-family: 'GAU_font_cube_B', sans-serif; */
    font-family: 'Press Start 2P', cursive;
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: 'Concert One', cursive; */
    width: 100px;
    height: 40px;
    top: 146px;
    left: 60px;
    border: 4px solid DimGray;
    transition: all 0.3s ease 0s;
}

#pause_button {
    left: 5%;
}
#options_button {
    left: 50%;
}

#canvas-2{
    position: absolute;
    top: 200px;
    /* margin-left: 120px; */
    left: 50%;
    margin-top: 40px;
    /* transform: translate(10% ,120%); */
}

#square {
    position: absolute;
    /* margin-left: 230px; */
    /* left: 30%; */
    /* bottom: 48%; */
    width: 220px;
    height: 120px;
    /* background-color: red; */
    border: 4px solid DimGray;
    /* color: white; */
    /* margin: 5px; */
    padding: 5px;
    background-color: #141313;
    margin-top: 40px;
    /* box-shadow: 0 0 0 5px red; */
}


#container-score{
    position: absolute;
    text-align: center;
    /* top: 10%; */
    margin-left: 120px;
    /* left: 45%; */
    /* bottom: 80%; */
    /* font-size: 80px; */
    /* transform: translate(10% ,100%); */
}

#container-lines{
    position: absolute;
    text-align: center;
    margin-left: 20px;
}

#easter-egg{
    position: absolute;
    top: 5px;
    right: 10px;
    width: 60px;
    height: 60px;
    opacity: 1;
    transition: all 0.1s ease 0s;
    background-color: #FFBF00;
    border: 4px solid DimGray;

    font-weight: bold;
    font-size: 60%;
    font-family: 'Press Start 2P', cursive;
    color: #141313;
}
/* 
#easter-egg:hover,
#easter-egg:focus{
    opacity: 0;
    cursor: pointer;
} */



/*The black hole*/

.jumpingLogo{
    width: 300px; 
    height: 200px;
}


#LetterT1{
    animation: down 2s infinite alternate;
    animation-delay: 1s;

}
#LetterE{
    animation: down 2s infinite alternate;
    animation-delay: 1.25s; /*1.2*/
}
#LetterT2{
    animation: down 2s infinite alternate;
    animation-delay: 1.5s; /*3.4s*/
}
#LetterR{
    animation: down 2s infinite alternate;
    animation-delay: 1.75s; /*4.6s*/
}
#LetterI{
    animation: down 2s infinite alternate;
    animation-delay: 2s; /*5.8s*/
}
#LetterS {
    animation: down 2s infinite alternate;
    animation-delay: 2.25s; /*6.5s*/
}

@keyframes down {
    0% {transform: translateY(0%)}
    50% {transform: translateY(-10%)}
    100% { transform: translateY(0%)}
}
