#canvas-1{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50% ,-50%);
}

#marginCanva {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50% ,-50.4%);

    width: 300px;
    height: 540px;

    border: 4px solid DimGray;
    padding: 5px;
}


#canvas-2{
    position: absolute;
    top: 30%;
    margin-left: 120px;
    left: 45%;
    transform: translate(10% ,120%);
}

#title{
    position: absolute;
    /* top: -25%;
    left: 53%; */
    bottom: 110%;
    margin-left: 80px;
    left: 42%;
    margin-bottom: auto;
    transform: translate(20% ,120%);
}

/* margin-left: 120px;
left: 45%; */
.container{
    position: absolute;
    /* font-family: 'Roboto'; */
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
    /* top: 10%; */
    margin-left: 145px;
    left: 45%;
    bottom: 66%;
    font-size: 50px;
    /* transform: translate(10% ,120%); */
    /* transform: translate(10% ,100%); */
}

#square {
    position: absolute;
    /* margin-left: 230px; */
    left: 30%;
    /* bottom: 48%; */
    width: 220px;
    height: 120px;
    /* background-color: red; */
    border: 4px solid DimGray;
    /* color: white; */
    /* margin: 5px; */
    padding: 5px;
    /* box-shadow: 0 0 0 5px red; */
}


#container-score{
    position: absolute;
    text-align: center;
    /* top: 10%; */
    margin-left: 143px;
    left: 45%;
    /* bottom: 80%; */
    /* font-size: 80px; */
    /* transform: translate(10% ,100%); */
}

#container-lines{
    position: absolute;
    text-align: center;
    margin-left: 48px;
    /* color: white; */
    /* top: 10%; */
    /* margin-left: 230px; */
    /* left: 50%; */
    /* bottom: 60%; */
    /* font-size: 80px; */
    /* transform: translate(10% ,100%); */
}


/*The black hole*/

svg{
    width: 300px; 
    height: 200px;
}
/* 
#LetterT1,
#LetterE,
#LetterT2,
#LetterR,
#LetterI,
#LetterS
{
    /*transition: all 1s ease;
    /*animation: down 3s 1;
    /*transform: translateY(0%);
} */

#LetterT1{
    animation: down 2.5s infinite alternate;
    animation-delay: 1s;

}
#LetterE{
    animation: down 2.5s infinite alternate;
    animation-delay: 1.5s; /*1.2*/
}
#LetterT2{
    animation: down 2.5s infinite alternate;
    animation-delay: 2s; /*3.4s*/
}
#LetterR{
    animation: down 2.5s infinite alternate;
    animation-delay: 2.5s; /*4.6s*/
}
#LetterI{
    animation: down 2.5s infinite alternate;
    animation-delay: 3s; /*5.8s*/
}
#LetterS {
    animation: down 2.5s infinite alternate;
    animation-delay: 3.5s; /*6.5s*/
}



/*svg:hover #LetterT1{*/
/*      transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterT2{*/
/*    transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterE{*/
/*    transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterR{*/
/*    transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterI{*/
/*    transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterS{*/
/*    transform: translateY(0%);*/
/*}*/

@keyframes down {
    0% {transform: translateY(0%)}
    50% {transform: translateY(-20%)}
    100% { transform: translateY(0%)}
}

