/* The elements styles /*/
#canvas-1{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50% ,-50%);
}
#canvas-2{
    position: absolute;
    top: 30%;
    margin-left: 120px;
    left: 45%;
    transform: translate(10% ,120%);
}
#title{
    position: absolute;
    /* top: -25%;
    left: 53%; */
    bottom: 110%;
    margin-left: 80px;
    left: 40%;
    transform: translate(10% ,100%);
}
#score{
    position: absolute;
    text-align: center;
    color: white;
    /* top: 10%; */
    margin-left: 230px;
    left: 45%;
    bottom: 60%;
    font-size: 80px;
    transform: translate(10% ,100%);
}

/*The black hole*/

svg{
    width: 400px; 
    height: 300px;
}
/* 
#LetterT1,
#LetterE,
#LetterT2,
#LetterR,
#LetterI,
#LetterS
{
    /*transition: all 1s ease;
    /*animation: down 3s 1;
    /*transform: translateY(0%);
} */

#LetterT1{
    animation: down 2s infinite alternate;
    animation-delay: 0s;

}
#LetterE{
    animation: down 2s infinite alternate;
    animation-delay: 1.2s;
}
#LetterT2{
    animation: down 2s infinite alternate;
    animation-delay: 3.4s;
}
#LetterR{
    animation: down 2s infinite alternate;
    animation-delay: 4.6s;
}
#LetterI{
    animation: down 2s infinite alternate;
    animation-delay: 5.8s;
}
#LetterS {
    animation: down 2s infinite alternate;
    animation-delay: 8s;
}



/*svg:hover #LetterT1{*/
/*      transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterT2{*/
/*    transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterE{*/
/*    transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterR{*/
/*    transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterI{*/
/*    transform: translateY(0%);*/
/*}*/
/*svg:hover #LetterS{*/
/*    transform: translateY(0%);*/
/*}*/

@keyframes down {
    0% {transform: translateY(0%)}
    50% {transform: translateY(-20%)}
    100% { transform: translateY(0%)}
}

